python-telegram-bot==21.6  # Библиотека для работы с Telegram Bot API
gspread==6.1.4             # Библиотека для работы с Google Sheets
google-auth==2.35.0        # Библиотека для авторизации через Google
